:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --right-bg-color: rgba(42, 43, 43, 0.8);
    --hover-width: 85%;
    --other-width: 15%;
    --speed: 1000ms;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-colour);
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left:0;
    background: url('../images/art-colorful-colourful-163822.jpg') center center no-repeat;
    background-size: cover;
}

.split.left:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
    z-index: 0;
}

.split.right {
    right:0;
    background: url('../images/bg-11.jpg') center center no-repeat;
    background-size: cover;
}

.split.right:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
    z-index: 0;
}

.leftc {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    align-self: center;
    z-index: 1;
}

.rightc {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    align-self: center;
    z-index: 1;
}

input {
    position:relative;
    width: 200px;
    z-index: 1;
}

button {
    position: relative;
    width: 7.5%;
    z-index: 1;

    background-color: goldenrod;
    border: none;
    padding: 6px 12px;
    text-decoration: none;
    margin: 2px 1px;
}

.split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-left .right:before {
    z-index: 2;
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.hover-right .left:before {
    z-index: 2;
}

#login-submit {
    float: left;
}

#reset {
    float: right;
}

.index_form {
    text-align: center;
    margin-top: 50vh;
    padding: 1em 1em;
}

.form_btn {
    width: 98px;
    border-radius: 0.7px;
}

/* @media(max-width: 800px){
    h1{
        font-size: 2rem;
    }

    .form_btn{
        width: 12rem;
    }

}

@media(min-height: 700px){
    .form_btn{
        top: 70%
    }
} */

